<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-teams-select></app-teams-select>
            <!-- <app-teams-autocomplete></app-teams-autocomplete> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-players-autocomplete></app-players-autocomplete>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-team-games-select></app-team-games-select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-shot-chart></app-shot-chart>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-shot-table></app-shot-table>
            <!-- <app-play-by-play-table></app-play-by-play-table> -->
        </div>
    </div>
</div>